<footer>
  <div class="container">
    <ul class="social-link">
      <li>
          <a target="_blank" href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
      </li>
      <li>
        <a target="_blank" href="">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <a href="" class="logo-footer">
      <strong>Silvano</strong> Amaral
    </a>
    <p class="copyright">
      © 2017 Silvano Amaral. All Rights Reserved.
    </p>
  </div>
</footer>