<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<div class="container">
  <h1 class="text-center">Fale conosco! ;)</h1>
  <hr />
  <div class="alert alert-success" role="alert">
    Formulário enviado com sucesso!
  </div>

  <form>
    <div class="form-group">
      <label class="control-label" for="nome">Nome</label>
      <input type="text" class="form-control" name="nome"  id="nome" placeholder="None" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
    </div>
    <hr />
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrção</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
