/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Source+Sans+Pro');


/*----------------------------------------------------------
CSS Reset - Normalize.css
----------------------------------------------------------*/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}ol, ul {list-style: none;padding:0; margin:0; }

/*----------------------------------------------------------
Configurações Gerais <<<<<==================================
----------------------------------------------------------*/
body{
	color: #101820; 
	font-family: "Open Sans", Helvetica, sans-serif, arial; 
	font-size: 18px;
	font-weight: 200;
	line-height: 1.5;
	text-align: left;  
}
.center {
	margin: 0 auto;
	max-width:1200px; /*largura máxima do layout*/
	width: 90%; /*ajuste do layout à  tela*/
}
/*.clearfix usado para adicionar um espaçoo vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
.clearfix:before, .clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*fim do clearfix*/
img, picture, video, embed {
    max-width: 100%; /*define a largura máxima em atão 100%*/
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
h2, .h2 {
    font-size: 2.35714286em;
	line-height: 1.36363636em;
	margin: 1.2em 0 0 0;
}
h3{
	font-size: 1em; /* 16px*/
	font-weight: 300;
	letter-spacing: -0.0625em; /* -2px à· 32px = -0.0625em */
	line-height: 1.1875em; /* 38px à· 32px = 1.1875em */
}
p{
	font-size: .8em; /* 12px*/
	font-weight: 300;
	letter-spacing: -0.05555555556em; /* -1px à· 18px = -0.05555555556em */
}
a, a:link, a:visited{
	color:#000; 
	font-weight:400; 
	text-decoration:none;
}
a:hover{
	color:#000;
	text-decoration:none;
	text-shadow:none; 
}