<header>
  <div class="container">
    <h1 id="logo">          
      <a routerLink="" title="Silvano Amaral"><strong>Silvano</strong> Amaral</a>
    </h1>
      
    <input type="checkbox" id="control-nav" />
    <label for="control-nav" class="control-nav">&#9776;</label>
    <label for="control-nav" class="control-nav-close"></label>
  
    <nav id="menu" class="panel" role="navigation">
      <ul>
        <li *ngFor="let menu of menus" [style.display]="menu.active == 1 ? 'block' : 'none'" routerLinkActive="active">
          <a title="{{ menu.name }}" routerLink="{{ menu.url }}">
            <i class="fa {{ menu.icon }}" aria-hidden="true"></i>
            {{ menu.name }}
          </a>   
        </li>
      </ul>
    </nav>       
  </div>
</header>


