<header>
  <div class="center">
      <h1 id="logo">          
          <a href="#" title="Silvano Amaral">Silvano Amaral</a>
          <i class="fa fa-code" aria-hidden="true"></i>
        </h1>
      
        <input type="checkbox" id="control-nav" />
        <label for="control-nav" class="control-nav">&#9776;</label>
        <label for="control-nav" class="control-nav-close"></label>
      
        <nav id="menu" class="panel" role="navigation">
          <ul>
            <li>
              <a title="" href="javascript:void(0);"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
            </li>
            <li>
              <a title="" href="javascript:void(0);"><i class="fa fa-envelope" aria-hidden="true"></i>Service</a>
            </li>
            <li>
              <a title="" href="javascript:void(0);"><i class="fa fa-phone-square" aria-hidden="true"></i>Contact</a>
            </li>
          </ul>
        </nav>
  </div>
</header>


